.DS_Store
/.build
/Packages
xcuserdata/
.docc-build/
*.xcworkspace
*.xccheckout
*.xcscmblueprint
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
